
[Unit]
Description=Run read_sht31 every minute (user timer)

[Timer]
OnCalendar=*-*-* *:*:00
Unit=sht31.service
Persistent=true

[Install]
WantedBy=timers.target
